/TEAM47CSEN401Game/bin/
TEAM47CSEN401Game/.settings/
TEAM47CSEN401Game/.classpath
TEAM47CSEN401Game/.project
TEAM47CSEN401Game/.vscode/settings.json
TEAM47CSEN401Game/.metadata/
/.metadata/
TEAM47CSEN401Game/*.log